#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  margin: 100px 0;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: rgb(29, 25, 25);
}
.table-container{
  max-width:1300px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}